@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.encabezado-home {
  width: 100%;
  height: 30vh;
  background: url(../img/encabezados/header.jpeg) center fixed;
}

.encabezado-casas {
  width: 100%;
  height: 30vh;
  background: url(../img/encabezados/casas.jpeg) center fixed;
}

.encabezado-contenido {
  width: 100%;
  height: 50vh;
  background: url(../img/encabezados/encabezado_animado.gif) fixed;
}

.encabezado-hotd {
  width: 100%;
  height: 30vh;
  background: url(../img/HouseOfTheDragon.jpeg) center;
}

p, li {
  font-family: "Rubik", sans-serif;
}

h1, h3, h4 {
  font-family: "Inknut Antiqua", serif;
}

nav {
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav ul a {
  color: black;
  text-decoration: none;
  padding: 0.7rem;
  display: block;
  font-family: "Inknut Antiqua", serif;
}

nav ul a:hover {
  background-color: grey;
  color: black;
  font-weight: bold;
}

body {
  background: #465f65;
  background: -webkit-gradient(linear, left bottom, left top, from(#465f65), to(#e6dada));
  background: linear-gradient(0deg, #465f65 0%, #e6dada 100%);
}

.cancion {
  padding-top: 50px;
}

h3,
h4 {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Esta animación solo aplica para la hoja de casas, es especifica para los logos nada mas.*/
.animado-casas img:hover {
  opacity: 1;
  border: solid transparent;
  -webkit-filter: drop-shadow(16px 16px 10px black);
          filter: drop-shadow(16px 16px 10px black);
}

@media only screen and (max-width: 576px) {
  .encabezado-home {
    background: url(../img/logoAnimado.gif) center;
    background-size: 100%;
  }
  .encabezado-casas {
    background: url(../img/encabezados/caras.jpg) center;
  }
  .encabezado-contenido {
    background: url(../img/encabezados/ojo_celeste.jpg) center;
  }
  .encabezado-hotd {
    width: 100%;
    height: 30vh;
    background: url(../img/HouseOfTheDragonAnimated.gif) center;
  }
}

/* Le cambio el color de fondo a la card de boostrap*/
.card {
  background-color: #8e928d;
}

/* Variable, le genero un color al boton para sustituir el de boostrap*/
:root {
  --gray-light: #cccccc;
  --gray: #747474;
}

.bg-gray {
  background-color: var(--gray-light);
}

.btn-gray {
  color: #fff;
  background-color: var(--gray);
  border-color: var(--gray);
}

.btn-gray:hover {
  color: #fff;
  background-color: #cccccc;
  border-color: #cccccc;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.pieDePagina {
  width: 100%;
  background: black;
  height: 50px;
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.anchoFooter {
  margin-top: 10px;
}

.redes {
  display: inline-block;
}

.bi-footer, .bi-facebook, .bi-twitter, .bi-instagram {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
}

.bi-facebook:hover {
  color: #3b5998;
}

.bi-twitter:hover {
  color: #1da1f2;
}

.bi-instagram:hover {
  color: #8a3ab9;
}
/*# sourceMappingURL=estilo.css.map */