h3,
h4 {
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: 1;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Esta animación solo aplica para la hoja de casas, es especifica para los logos nada mas.*/
 .animado-casas img:hover {
opacity: 1;
border: solid transparent;
filter: drop-shadow(16px 16px 10px black)
}