.encabezado-home {
  width: 100%;
  height: 30vh;
  background: url(../img/encabezados/header.jpeg) center fixed;
}
.encabezado-casas {
  width: 100%;
  height: 30vh;
  background: url(../img/encabezados/casas.jpeg) center fixed;
}
.encabezado-contenido {
  width: 100%;
  height: 30vh;
  background: url(../img/encabezados/minimalista.jpg) center;
}

.encabezado-hotd {
  width: 100%;
  height: 30vh;
  background: url(../img/hotd.jpeg) center;
}
