.encabezado-home {
  width: 100%;
  height: 30vh;
  background: url(../img/encabezados/header.jpeg) center fixed;
}
.encabezado-casas {
  width: 100%;
  height: 30vh;
  background: url(../img/encabezados/casas.jpeg) center fixed;
}
.encabezado-contenido {
  width: 100%;
  height: 50vh;
  background: url(../img/encabezados/encabezado_animado.gif) fixed;
}

.encabezado-hotd {
  width: 100%;
  height: 30vh;
  background: url(../img/HouseOfTheDragon.jpeg) center ;
}
