footer {
  width: 100%;
  background: black;
  height: 50px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

.anchoFooter {
  margin-top: 10px;
}

.redes {
  display: inline-block;
}
.bi-footer {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
}

.bi-facebook {
  @extend .bi-footer;
  &:hover {
    color: #3b5998;
  }
}
.bi-twitter {
  @extend .bi-footer;
  &:hover {
    color: #1da1f2;
  }
}

.bi-instagram {
  @extend .bi-footer;
  &:hover {
    color: #8a3ab9;
  }
}
