/* juegos obras cancion */

p {
  font-family: "Rubik", sans-serif;
}
h1, h3, h4, li {
  font-family: "Inknut Antiqua", serif;
}
nav {
  padding: 1rem;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;

    a {
      color: black;
      text-decoration: none;
      padding: 0.7rem;
      display: block;
      font-family: "Inknut Antiqua", serif;

      &:hover {
        background-color: grey;
        color: black;
        font-weight: bold;
      }
    }
  }
}
body {
  background: #e6dada;
  background: -webkit-linear-gradient(to right, #274046, #e6dada);
  background: linear-gradient(to right, #274046, #e6dada);
}
