@media only screen and (max-width: 576px) {
  .encabezado-home {
    background: url(../img/logoAnimado.gif) center;
  }
  .encabezado-casas {
    background: url(../img/encabezados/caras.jpg) center;
  }

  .encabezado-contenido {
    background: url(../img/encabezados/cq5dam.web.1200.675.jpg) center;
  }
  .encabezado-hotd {
    width: 100%;
    height: 30vh;
    background: url(../img/HouseOfTheDragonAnimated.gif) center;
  }
}
